<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<div id="menu">
    <ul>
      <li>
          <a href="blocks">Blocks</a>
      </li>
      <li>
        <a href="confirmed-transactions">Confirmed Transactions</a>
      </li>
      <li>
        <a href="pending-transactions"> Pending Transactions</a>
      </li>
      <li>
        <a href="accounts">Accounts and balances</a>
      </li>
      <li>
        <a href="peers">Peers</a>
      </li>
      <li>
        <a href="network-difficulty">Network difficulty</a>
      </li>
    </ul>
  </div>
  


<router-outlet></router-outlet>
