.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.block-main {
  height: 125px;
  width: 100%;
  background: gray;
  color: #fff;
  text-align: center;
}
