<h1 class="h1 text-center">Blocks</h1>

<div class="row">
  <div *ngFor="let block of this.blocks" class="col-md-3">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <div class="card-text">
          <p>
            <a [routerLink]="['/blocks', block.index]">
              Block {{block.index}}
            </a>
          </p>
          <p>Date {{block.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
          <p class="address">Mined by
            <a [routerLink]="['/address', block.minedBy]">
              {{block.minedBy}}
            </a>
          </p>
          <p>Transactions {{block.transactions.length}}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a [routerLink]="['/blocks', block.index]">
                View
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
