<div class="container">
  <br/>

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Network name</p>
        <footer>{{netDif.nodeName}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Network difficulty</p>
        <footer>{{netDif.cumulativeDifficulty}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Network blocks</p>
        <footer>{{netDif.blocks}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Network confirmed transactions</p>
        <footer>{{netDif.confirmedTransactions}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>Network pending transactions</p>
        <footer>{{netDif.pendingTransactions}}</footer>
      </blockquote>
    </div>
  </div>
</div>
