<h1 class="h1 text-center">Network information</h1>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Network name</p>
      <b>{{netDif.nodeName}}</b>
    </blockquote>
  </div>
</div>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Network difficulty</p>
      <b>{{netDif.cumulativeDifficulty}}</b>
    </blockquote>
  </div>
</div>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Network blocks</p>
      <b>{{netDif.blocks}}</b>
    </blockquote>
  </div>
</div>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Network confirmed transactions</p>
      <b>{{netDif.confirmedTransactions}}</b>
    </blockquote>
  </div>
</div>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Network pending transactions</p>
      <b>{{netDif.pendingTransactions}}</b>
    </blockquote>
  </div>
</div>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Peers</p>
      <p *ngFor="let p of peers">
        <b>{{p.url}}</b>
      </p>
    </blockquote>
  </div>
</div>

