<h1 class="h1 text-center">Network information</h1>

<div class="card">
  <div class="card-block text-center">
    <br/>
    <span class="text-muted">
      Network name <strong>{{netDif.nodeName}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Network difficulty <strong>{{netDif.cumulativeDifficulty}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Network blocks <strong>{{netDif.blocks}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Network confirmed transactions <strong>{{netDif.confirmedTransactions}}</strong>
    </span>
    <br/>
    <br/>
    <span class="text-muted">
      Network pending transactions <strong>{{netDif.pendingTransactions}}</strong>
    </span>
    <br/>
    <br/>
    <br/>
    <span class="text-muted">
      Peers
      <div *ngFor="let p of peers">
        <strong>{{p.url}}</strong>
      </div>
    </span>
    <br/>
  </div>
</div>
