<h1>Confirmed transactions</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">From Address</th>
    <th scope="col">To Address</th>
    <th scope="col">Value</th>
    <th scope="col">Fee</th>
    <th scope="col">Date Created</th>
    <th scope="col">Mined in block</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transactions of confirmedTransactions">
    <td><a routerLink=""><p class="address">{{transactions.fromAddress}}</p></a> </td>
    <td><a routerLink=""><p class="address">{{transactions.toAddress}}</p></a> </td>
    <td> {{transactions.value}}</td>
    <td> {{transactions.fee}}</td>
    <td> {{transactions.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
    <td><a routerLink="">{{transactions.minedInBlockIndex}}</a></td>
  </tr>
  </tbody>
</table>
