<h1>Confirmed transactions</h1>
<div class="container">
  <div class="row">
    <div class="col-sm column-titles">
      From address
    </div>
    <div class="col-sm">
      To address
    </div>
    <div class="col-sm">
      Value
    </div>
    <div class="col-sm">
      Date created
    </div>
    <div class="col-sm">
      Sender public key
    </div>
    <div class="col-sm">
      Transaction hash
    </div>
    <div class="col-sm">
      Mined in block
    </div>
    <div class="col-sm">
      Transfer Successful
    </div>
  </div>
  <div class="row" *ngFor="let transactions of confirmedTransactions">
    <div class="col-sm">
      {{transactions.fromAddress}}
    </div>
    <div class="col-sm">
      {{transactions.toAddress}}
    </div>
    <div class="col-sm">
      {{transactions.value}}
    </div>
    <div class="col-sm">
      {{transactions.dateCreated}}
    </div>
    <div class="col-sm">
      {{transactions.senderPubKey}}
    </div>
    <div class="col-sm">
      {{transactions.transactionHash}}
    </div>
    <div class="col-sm">
      {{transactions.minedInBlockIndex}}
    </div>
    <div class="col-sm">
      {{transactions.transferSuccessful}}
    </div>
  </div>
</div>