<h1 class="h1 text-center">Pending transactions</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">From Address</th>
    <th scope="col">To Address</th>
    <th scope="col">Value</th>
    <th scope="col">Fee</th>
    <th scope="col">Date Created</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transactions of pendingTransactions">
    <td><a routerLink="/transactions/{{transactions.fromAddress}}">
      <p class="address">{{transactions.fromAddress}}</p></a>
    </td>
    <td>
      <a [routerLink]="['transactions', transactions.toAddress]">
        <p class="address">{{transactions.toAddress}}</p></a>
    </td>
    <td> {{transactions.value}}</td>
    <td> {{transactions.fee}}</td>
    <td> {{transactions.dateCreated | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
  </tr>
  </tbody>
</table>
